@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	min-height: 100vh;
	background-image: url('background-goals.jpg');
	background-size: cover;
	background-attachment: fixed;
}

@media only screen and (min-width: 600px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main {
		width: 60vw;
		color: white;
		background-color: black;
	}
}
.italic {
	font-style: italic;
}
.main {
	color: white;
	background-color: black;
	text-align: center;
	padding: 2rem;
}

.task {
	border: 1px solid white;
}
